*{
	font-family: 'Spartan', sans-serif;
}
.header1{
	text-align: center;
	padding: 160px;
	background-image: url(https://thumbs.dreamstime.com/b/figs-prosciutto-blue-cheese-basil-black-stone-plate-food-top-view-free-space-your-text-197819132.jpg);
	color: white;
	background-size: 100%;
}
h1{
	font-size: 100px;
	text-align: left;
}
sub{
	font-size: 50px;
}
.hr1{
	padding: 10px;
}

.navcontent{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	
}
.link1{
	text-decoration: none;
	color: #5d5d5d;
	padding-right: 6px;

}
.link1:hover{
	color: #ffa54f;

}
.link1:visited{
color: #8f9779;
}

.col-sm-4 {
	float: left;
  width: 25%;
  padding: 0 10px;
  align-items: center;
}
._cards1 {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  
}
#cards{


}
.content_{
	padding: 10px;
}
.row{
	padding: 15px;
}
.foodpic{
	box-shadow: 5px 10px 8px 10px #888888;
}

.card-new{
	padding: 30px;
	box-shadow:5px 0px 8px 0px #888888 ;
	background-color: #243447;
}
button{
	border-radius: 12px;
	background-color: rgb(77,93,83);
	color: #e3e4e6;
}
.btn{
	padding: 20px;
}
.new-row{
	padding: 25px;
}
footer{
	margin-top: 50px;
	background-color: #414a4c;
	color:#5f9ea0 ;
	padding: 30px;
}
.footer_link{
color: #5f9ea0;
text-decoration: none;
}
.footer_link:visited{
color: #78866b;
}
.footer_link:hover{
color:#738678
}
ul{
	list-style-type: none;
}
